<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .is-show{
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.3;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 9;
        }
        .change{
            width: 400px;
            height: 300px;
            border: 1px solid #000;
            background: #fff;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
        }
    </style>
</head>
<body>
<div class="page">
    <% include components/top.ejs%>
    <div class="content-wrap">
        <div class="add">
            <form action="?" method="post" enctype="multipart/form-data">
                标题：<input type="text" name="title"><br>
                描述：<textarea cols="30" rows="10" type="text" name="desc"></textarea><br>
                头像：<input type="file" name="f1"><br>
                <input type="submit" value="添加"/>
            </form>
            <table border="1" width="100%" align="center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>标题</td>
                        <td>描述</td>
                        <td>头像</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<customs.length;i++){ %>
                    <tr>
                        <td><%= customs[i].ID %></td>
                        <td><%= customs[i].title %></td>
                        <td><%= customs[i].description %></td>
                        <td><img src="/upload/<%= customs[i].src %>"  style="width: 40px; height: 30px;"></td>
                        <td>
                            <a href="?act=mod&id=<%= customs[i].ID %>">修改</a>
                            <a href="?act=del&id=<%= customs[i].ID %>" onclick="return confirm('确认删除此项？')">删除</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% if (typeof mod_data != 'undefined'){ %>
            <div class="is-show"></div>
            <div class="change">
                <form action="?" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="mod_id" value="<%= mod_data.ID%>">
                    标题：<input type="text" name="title" value="<%= mod_data.title %>"><br>
                    描述：<textarea cols="30" rows="10" type="text" name="desc"><%= mod_data.description%></textarea><br>
                    头像：<input type="file" name="src"><br>
                    <input type="submit" value="修改"/>
                    <a href="/admin/custom">取消</a>
                </form>
            </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>